.row-one{
    background-color:#bdc3c1;
    height: 100%;
    margin-bottom: 1px;
}
.logo{
    
    margin:auto ;
    padding: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: auto;
    padding-top:25px ;
   }

ul li{
    color: #495e57;
   font-size: 20px;
    padding: 10px;
    
}
ul li a.active{
    font-weight: bold;
    font-size: 23px;
}
